{% extends 'auth/form_base.html' %}

{% block form %}
<div class="container">
    <form class="form-signin" action="{{ url_for('auth.change_password') }}"
          method="POST">
        {{ form.hidden_tag() }}

        <h2 class="form-signin-heading">更改账户密码</h2>
        <br>
        <label>账户当前密码</label>
        {{ form.password(class='form-control', id='inputPassword', type='password', placeholder='账户当前密码', required=True) }}
        <label>新密码</label>
        {{ form.password2(class='form-control', type='password', placeholder='新密码', required=True) }}
        <label>再次输入新密码</label>
        {{ form.password2(class='form-control', type='password', placeholder='再次输入新密码', required=True) }}
        {{ form.submit(class='btn btn-lg btn-primary btn-block', type='submit') }}

    </form>
</div>
{% endblock %}