{% extends 'auth/form_base.html' %}

{% block form %}
<div class="container">
    <form class="form-signin" action="{{ url_for('auth.password_reset') }}"
          method="POST">
        {{ form.hidden_tag() }}

        <h2 class="form-signin-heading">重置账户密码</h2>
        <br>
        <label for="inputPassword">新密码</label>
        {{ form.password(class='form-control', id='inputPassword', type='password', placeholder='密码', required=True) }}
        <label for="inputPassword2">再次确认新密码</label>
        {{ form.password2(class='form-control',id='inputPassword2', type='password', placeholder='确认密码', required=True) }}
        {{ form.submit(class='btn btn-lg btn-primary btn-block', type='submit') }}

    </form>
</div>
{% endblock %}