<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>

    {% block metas %}
    <meta charset="UTF-8">
    {% endblock metas %}
    {% block styles %}

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/bootstrap-4.1.0-dist/css/bootstrap.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='web/xicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='web/xicon.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='web/css/page.css') }}">
    {% endblock styles %}
    {% endblock head %}
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>

{% block body %}
{% block navbar %}
<!--{{ location }}-->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">

    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand" href="{{ url_for('home.index') }}">CiliCili&nbsp;Video</a>
            </li>


            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="">关于</a>-->
            <!--</li>-->

        </ul>
        <form class="form-inline" action="{{ url_for('home.search') }}" method="POST">
            {% for field in search_form.errors %}
            {% for error in search_form.errors[field] %}
            <div class="alert alert-danger alert-dismissable fade show"
                 style="text-align:center;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{error}}</strong>
            </div>
            {% endfor %}
            {% endfor %}

            {{ search_form.hidden_tag() }}
            {{ search_form.search() }}
            {{ search_form.submit() }}
        </form>

        <ul class="nav nav-pills navbar-nav navbar-right ">
            <!--if current_user.can(Permission.ADMIN) %}-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="">后台管理</a>-->
            <!--</li>-->
            <!--endif %}-->

            {% if current_user.is_authenticated and current_user.is_admin %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                    <b class="caret">管理员: {{ current_user.name }}</b>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">回到后台</a>
                    <a class="dropdown-item active bg-dark" href="{{ url_for('admin.logout_view') }}">管理员登出</a>
                </div>
            </li>
            {% elif current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active bg-primary"
                   href="{{ url_for('home.upload') }}">上传视频</a>
            </li>&nbsp;

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                    <img class="rounded" height="31px" width="31px"
                         src="{% if current_user.head_img %}{{ current_user.thumb_head_img }}
                    {% else %}{{ current_user.gravatar(size=31) }}{% endif %}" alt="用户头像">&nbsp;&nbsp;
                    <b class="caret">{{ current_user.username }}</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('home.user', username=current_user.username) }}">个人资料</a>
                    <a class="dropdown-item"
                       href="{{ url_for('home.display_collections', username=current_user.username) }}">视频收藏</a>
                    <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">更改密码</a>
                    <a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">更改邮箱</a>
                    <a class="dropdown-item active bg-dark" href="{{ url_for('auth.logout') }}">登出</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active bg-dark"
                   href="{{ url_for('auth.login', next=request.path) }}">登录</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
{% endblock navbar %}

{% block message %}
{% for message in get_flashed_messages() %}
<!--{# if alert_type #}{# alert_type #}{# else #}alert-dismissable{# endif #} -->
<div class="alert alert-info
 alert-dismissable fade show"
     style="text-align:center;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    <!--<strong></strong>-->
</div>
{% endfor %}
{% endblock message %}
<p>
    <br>
</p>
{% block content %}
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p>
                    ©&nbsp;2018&nbsp;&nbsp;cilivideo.top&nbsp;&nbsp;<b>:p</b>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
<script src="{{  url_for('static', filename='plugin/bootstrap-4.1.0-dist/jquery.min.js') }}"></script>
<script src="{{  url_for('static', filename='plugin/bootstrap-4.1.0-dist/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugin/bootstrap-4.1.0-dist/js/bootstrap.min.js') }}"></script>

<!--<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>-->
<script src="{{ url_for('static', filename='plugin/bootstrap-4.1.0-dist/holder.min.js') }}"></script>
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock scripts %}

{% endblock body %}
</body>
</html>