{% extends 'home/base.html' %}

{% block title %}首页 -- CiliCili Video{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='web/css/index.css') }}" rel="stylesheet"/>
<style>

.jumbotron {
    background: url("{{ url_for('static', filename='web/imgs/index.jpg') }}") no-repeat center center;
    height: 380px;
}

.card-body {
    position:relative;
}

.bar {
    position:absolute;
    right:5%;
    bottom:5%;
}

.bar img {
    weight:20px;
    height:20px;
}

</style>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
        <h1 style="color:#fff;">CiliCili, 与你分享身边的美好</h1>
    </div>
</div>

<div class="container">

    <div class="row">
        {% if videos %}
        {% for video in videos %}
        <div class="col-md-3">
            <div class="card text-center card-block">
                <img class="card-img-top" src="{{ url_for('static', filename='uploads/images/'+video.cover) }}"
                     alt="视频封面">
                <div class="card-body">
                    <h4 class="card-title">{{ video.title }}</h4>
                    <hr>
                    <a href="{{ url_for('home.video', id=video.id) }}" class="btn btn-info"
                       style="float:left;">播放</a>
                    <p class="bar">
                        <img src="{{ url_for('static', filename='web/icons/open.png') }}">&nbsp;&nbsp;&nbsp;
                        <small>{{ video.playnum }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="{{ url_for('static', filename='web/icons/comments.png') }}">&nbsp;&nbsp;&nbsp;
                        <small>{{ video.comments.count() }}</small>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    {{ moment(video.add_time, local=True).fromNow().format('L') }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12 text-center">
            <h3>
                暂时还没有视频呢, 登录后点击上方按钮上传视频
            </h3>
        </div>
        {% endif %}
    </div>
</div>

<p><br></p>
<div style="margin: 0px auto;display: table;">
    {% if pagination.items %}
    {% import 'home/_pagination_macros.html' as macros %}
    {{ macros.pagination_widget(pagination, 'home.index') }}
    {% endif %}
</div>
{% endblock %}