{% extends 'home/base.html' %}

{% block title %}Vedio{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.22.2/DPlayer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.22.2/DPlayer.min.js"></script>

<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web/css/bootstrap-movie.css') }}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web/css/comments.css') }}">

<style>
    .bar img {
        width: 25px;
        height:25px;
    }

    .bar a:hover {
        text-decoration:none;
    }

    .gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);

        filter: grayscale(100%);

        filter: gray;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="dplayer"></div>
            <p></p>

            {% if current_user.is_authenticated and not current_user.is_admin %}
            <div class="float-right bar">

                <img id="like" data-toggle="tooltip" data-placement="bottom"
                     src="{{ url_for('static', filename='web/icons/like.png') }}" alt="赞">
                &nbsp;
                <span id="like-num">{{ video.likers.count() }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <img id="collect" data-toggle="tooltip" data-placement="bottom"
                     src="{{ url_for('static', filename='web/icons/collection.png') }}" alt="收藏">
                &nbsp;<span id="collect-num">{{ video.collecters.count() }}</span>

            </div>
            {% endif %}

            <!--baidu-->
            <div class="bdsharebuttonbox"><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["copy","weixin","sqq","tsina","qzone"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["copy","weixin","sqq","tsina","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            <!--end-->

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info" style="height:45px;">
                    <h4 class="card-title" style="text-align:center">视频信息</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th style="color:#ccc;font-weight:bold;">标题</th>
                            <th>{{ video.title }}</th>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;">上传者</td>
                            <td>
                                <a href="{{ url_for('home.user', username=video.uploader.username) }}">
                                    <img class="img-thumbnail" height="40px" width="40px"
                                         src="{% if video.uploader.head_img %}{{ video.uploader.thumb_head_img }}
                                         {% else %}{{ video.uploader.gravatar(size=38) }}{% endif %}"
                                         alt="上传者头像">&nbsp;
                                    <span class="text-info" style="font-weight:bold;">
                                        {{ video.uploader.username }}</span>
                                </a>
                            </td>

                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;">添加时间</td>
                            <td>{{ video.add_time.strftime('%Y年%m月%d日') }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;">播放次数</td>
                            <td>{{ video.playnum }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;">评论数:</td>
                            <td>{{ video.comments.count() }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer" style="height:130px;overflow:scroll;">
                    <h3>视频简介:</h3>
                    <p>{{ video.intro | safe }}</p>
                </div>
            </div>

        </div>

        <p><br></p>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary" style="height:45px;">
                    <h4 class="card-title" style="text-align:center">评论区</h4>
                </div>
                <div class="card-body">
                    {% if not current_user.is_authenticated %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>请先<a href="{{ url_for('auth.login', next=request.path) }}"
                                     class="text-info">登录</a>，才可参与评论！</strong>
                    </div>
                    {% elif current_user.is_admin %}
                    <div class="alert alert-info alert-dismissible text-center" role="alert">
                        <strong>管理员视角</strong>
                    </div>
                    {% else %}
                    <form class="form-signin" action="{{ url_for('home.video', id=video.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <h4 class="form-signin-heading">吐了个槽</h4>

                            {% for field in form.errors %}
                            {% for error in form.errors[field] %}
                            <div class="alert alert-danger alert-dismissable fade show"
                                 style="text-align:center;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{error}}</strong>
                            </div>
                            {% endfor %}
                            {% endfor %}

                            {{ form.content(id='um_comment') }}
                        </div>
                        {{ form.submit() }}
                    </form>
                    {% endif %}

                    <div id="comments">
                        {% if comments %}
                        <hr>
                        {% include 'home/_comments.html' %}
                        {% endif %}
                    </div>
                </div>

                <div class="card-footer">
                    <div style="margin: 0px auto;display: table;">
                        {% if pagination.items %}
                        {% import 'home/_pagination_macros.html' as macros %}
                        {{ macros.pagination_widget(pagination, 'home.video', fragment='#comments', id=video.id) }}
                        {% else %}
                        <h3>暂时还没有评论呢~</h3>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    const dp = new DPlayer({
        container: document.getElementById('dplayer'),
        video: {
            url: "{{ url_for('static', filename='uploads/videos/'+video.url) }}",
        },
        danmaku: {
            id: '{{ video.id }}',
            //api: '/tm/'
            api: 'https://api.prprpr.me/dplayer/'
        }
    });

</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='plugin/ueditor-1.4.3.3/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='plugin/ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='plugin/ueditor/ueditor.all.min.js') }}"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='plugin/ueditor/lang/zh-cn/zh-cn.js') }}"></script>
<script>
        UE.getEditor('um_comment', {
            toolbars: [
                ['undo', 'redo', 'emotion', 'bold', 'spechars', 'forecolor', 'fontsize',
                'strikethrough', 'link', 'removeformat', 'preview', 'fullscreen',]
            ],
            initialFrameWidth: "100%",
            initialFrameHeight: "100",
        });

</script>

<script>
    $(document).ready(function(){

        $.extend({
            colRemove: function() {
                $("#collect").removeClass();
                //此处不适合用toggleClass
            },
            colAdd: function() {
                $("#collect").addClass("gray");
            },
            likeRemove: function() {
                $('#like').removeClass();
            },
            likeAdd: function() {
                $('#like').addClass('gray');
            },
        });

        {% if not current_user.is_authenticated %}
            $('#collect, #like').click(function(){
                alert('你还没有登录呢, 请先登录!');
            });
            $('#collect, #like').addClass('gray');
            $("#collect").attr("title", "收藏视频");
            $("#like").attr("title", "点个赞吧");
        {% else %}

            {% if current_user not in video.collecters %}//收藏
                $.colAdd();
                //light
                $("#collect").mouseover($.colRemove);

                $("#collect").mouseout($.colAdd);

                $("#collect").attr("title", "收藏视频");

                //ajax请求收藏视频, 从而避免刷新页面
                $("#collect").click(function(){
                    $("#collect").load("{{ url_for('home.video_collect', id=video.id) }}", function(responseTxt){
                        var result = responseTxt.split(':');
                        if(result[0]=="True")
                            {
                            var num = responseTxt.split(':')[1];
                            alert('视频已加入收藏');
                            $.colRemove();
                            $('#collect-num').text(num);
                            //$('#collect').removeAttr('title');
                            //$('#collect').attr('title', '取消收藏');
                            }
                        else
                            {
                            alert('请勿重复收藏视频～');
                            }
                    });
                });
            {% else %}
                //取消收藏

                $('#collect').attr('title', '取消收藏');

                $("#collect").click(function(){
                    $("#collect").load("{{ url_for('home.video_uncollect', id=video.id) }}", function(responseTxt){
                        var result = responseTxt.split(':');
                        if(result[0]=="True")
                            {
                            var num = responseTxt.split(':')[1];
                            alert('视频已经从收藏中移除');
                            $.colAdd();
                            $("#collect").mouseover($.colRemove);
                            $("#collect").mouseout($.colAdd);
                            $('#collect-num').text(num);
                            //$('#collect').removeAttr('title');
                            //$("#collect").attr("title", "收藏视频");
                            }
                        else
                            {
                            alert('请勿重复操作~');
                            }
                    });
                });
            {% endif %}

            {% if current_user not in video.likers %}
                $("#like").attr("title", "点个赞吧");
                $.likeAdd();
                $('#like').mouseover($.likeRemove);
                $('#like').mouseout($.likeAdd);
                $('#like').click(function(){
                    $('#like').load('{{ url_for('home.video_like', id=video.id) }}', function(responseTxt){
                        var result = responseTxt.split(':');
                        if (result[0]=='True')
                            {
                            var num = responseTxt.split(':')[1];
                            alert('up主已经收到你的赞啦');
                            $.likeRemove();
                            $('#like-num').text(num);
                            }
                        else
                            {
                            alert('点赞次数太多啦');
                            }
                    });
                });
            {% else %}
                $("#like").attr("title", "取消点赞");
                $('#like').click(function(){
                    $('#like').load('{{ url_for('home.video_unlike', id=video.id) }}', function(responseTxt){
                        var result = responseTxt.split(':');
                        if (result[0]=='True')
                            {
                            var num = responseTxt.split(':')[1];
                            alert('已经取消点赞');
                            $.likeAdd();
                            $('#like').mouseover($.likeRemove);
                            $('#like').mouseout($.likeAdd);
                            $('#like-num').text(num);
                            }
                        else
                            {
                            alert('请勿重复操作');
                            }
                    });
                });
            {% endif %}

        {% endif %}

        //提示
        $('[data-toggle="tooltip"]').tooltip();

    });
</script>
{% endblock %}