{% extends 'auth/form_base.html' %}

{% block form %}
<div class="container">
    <form class="form-signin" action="{{ url_for('admin.change_password_view') }}" method="POST">
        {{ form.hidden_tag() }}
        <h1 class="form-signin-heading text-center">更改管理员密码</h1>
        <hr>
        <br>
        {{ form.old_password.label(for='inputOldPass', class='sr-only') }}
        {{ form.old_password(class='form-control', id='inputOldPass',
        type='password', placeholder='当前密码', required=True) }}
        {{ form.password.label(for='inputPass1', class='sr-only') }}
        {{ form.password(class='form-control', id='inputPass1', type='password',
        placeholder='新的密码', required=True) }}
        {{ form.password2.label(for='inputPass2', class='sr-only') }}
        {{ form.password2(class='form-control', id='inputPass2', type='password',
        placeholder='再次确认新的密码', required=True) }}
        <br>
        {{ form.submit(class='form-control btn btn-lg btn-primary btn-block',
        type='submit') }}
    </form>
</div>
{% endblock %}