{% extends 'auth/form_base.html' %}

{% block form %}
<div class="container">
    <form class="form-signin" action="{{ url_for('admin.password_reset_request') }}"
          method="POST">
        {{ form.hidden_tag() }}
        <h1 class="form-signin-heading text-center">重置管理员密码</h1>
        <hr>
        {{ form.name.label(for='inputName', class='sr-only') }}
        {{ form.name(class='form-control', id='inputName',
        placeholder='账户名', required=True) }}
        {{ form.email.label(for='inputEmail', class='sr-only') }}
        {{ form.email(class='form-control', id='inputEmail',
        type='email', placeholder='账户邮箱', required=True) }}
        <br>
        {{ form.submit(class='btn btn-lg btn-primary btn-block',
        type='submit') }}
        <p class="text-center">
            <br>
            <a href="{{ url_for('admin.login_view') }}">返回登录页</a>
        </p>
    </form>
</div>
{% endblock %}