{% extends 'auth/form_base.html' %}

{% block form %}
<div class="container">
    <form class="form-signin" action="{{ url_for('admin.password_reset') }}"
          method="POST">
        {{ form.hidden_tag() }}
        <h1 class="form-signin-heading text-center">重置管理员密码</h1>
        <hr>
        {{ form.password.label(for='inputPass1', class='sr-only') }}
        {{ form.password(class='form-control', id='inputPass1',
        placeholder='新密码', type='password', required=True) }}
        {{ form.password2.label(for='inputPass2', class='sr-only') }}
        {{ form.password2(class='form-control', id='inputPass2',
        type='password', placeholder='再次确认密码', required=True) }}
        <br>
        {{ form.submit(class='btn btn-lg btn-primary btn-block',
        type='submit') }}
    </form>
</div>
{% endblock %}