<p><strong>{{ user.username }}</strong>, 您好:</p>

<p style="text-indent:2em">您已注册<b>CiliCili Video</b>,</p>

<p style="text-indent:2em"><b>请点击如下链接, 以完成您邮箱的绑定:</b></p>

<p style="text-indent:2em"><a href="{{ url_for('auth.confirm', token=token, _external=True) }}">
    点击此处打开链接地址, 如不能点击请复制并粘贴到浏览器的地址输入框</a></p>

<p style="text-indent:2em"><small>备注 : 无需回复此邮件.</small></p>

<p style="text-indent:30em">来自 : F1renze</p>

<p style="text-indent:30em">站点 : CiliCili Video</p>

<p style="text-indent:30em">{{ dt.strftime('%Y年%m月%d日') }}</p>