<p>您好, <b>{{ user.username }}</b>,</p>

<p style="text-indent:2em">您收到这封电子邮件是因为您 (也可能是某人冒充您的名义) 申请了一个找回密码的请求.</p>

<p style="text-indent:2em">假如这不是您本人所申请, 或者您曾持续收到这类的信件骚扰, 请您尽快联络管理员.</p>

<p style="text-indent:2em"><b>您可以点击如下链接重新设置您的密码, 如果点击无效, 请把下面的地址拷贝到浏览器的地址栏中:</b></p>

<p style="text-indent:2em"><a href="{{ url_for('auth.change_email', token=token, _external=True) }}">
    点击此处打开链接地址, 如不能点击请复制并粘贴到浏览器的地址输入框
</a></p>

<p style="text-indent:2em">在访问链接之后, 您可以重新设置新的密码.</p>

<p style="text-indent:2em">如果您还有任何的疑问, 请与我们联系: 邮箱地址: </p>

<p style="text-indent:2em"><small>备注 : 请不要直接回复本邮件.</small></p>

<p style="text-indent:30em">来自 : F1renze</p>

<p style="text-indent:30em">站点 : CiliCili Video</p>

<p style="text-indent:30em">{{ dt.strftime('%Y年%m月%d日') }}</p>